{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ANIMAL</title>
    <link rel="stylesheet" href="{% static 'first_app/css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'first_app/css/fon.css' %}" type="text/css">
    <link rel="icon" href="{% static 'first_app/img/logo_title.png' %}" type="image/jpg">
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>