*{
margin: 0;  /*зовнішній відступ*/
padding: 0;  /*внутрішній відступ*/
/*border: 0;  це універсальна властивість для вказівки всіх персональних властивостей кордонів за раз*/
}


.box {
    background: url("../img/logo4.jpg") no-repeat center;  /*імпорт зображення, (no-repeat) - якщо зображення маленьке, не дасть йому повторюватися, (center) - розміщує зображення по центру екрана*/
    height: 100vh;  /*(viewport height) розмір зображення вказаний у відсотках від висоти вьюпорта*/
    background-size: cover;  /*розтягує зображення на всю ширину екрану*/
    align-items: center;  /*вирівнює внутрішні блоки по центру*/
    width: 100%;  /*ширина елементу вказана у відсотах від ширини блока*/
    display: flex;  /*робить всі дочірні елементи гумовими - flex, а не інлайновими або блочними, як це було спочатку*/
    justify-content: space-evenly;  /*визначає, як браузер розподіляє простір між і навколо елементів контенту вздовж головної осі flex контейнера, або вздовж малої осі grid контейнера*/

}

.container {
    justify-content: space-between;
    display: flex;

}

.neon:hover {  /*(hover) при наведенні на кнопку*/
    border: 0;
    box-shadow: 10px 10px 100px 6px rgba(76, 201, 240, 1);
}

.title {
    color: yellow;
    font-size: 25px;
}

.form {
    color: white;
}

.text {
    color: white;
}